@model FootballLeagueTable.Models.LeagueTable.League
@{
    ViewBag.Title = @Model.Name + " League Table";
}

<h2>@Model.Name League Table</h2>

<table class="table">
    <thead>
        <tr>
            <th width="100">Position</th>
            <th>Team</th>
            <th width="50">@Html.DisplayNameFor(model => model.Teams[0].MatchHistory.Played)</th>
            <th width="50">@Html.DisplayNameFor(model => model.Teams[0].MatchHistory.Won)</th>
            <th width="50">@Html.DisplayNameFor(model => model.Teams[0].MatchHistory.Drawn)</th>
            <th width="50">@Html.DisplayNameFor(model => model.Teams[0].MatchHistory.Lost)</th>
            <th width="50">@Html.DisplayNameFor(model => model.Teams[0].MatchHistory.For)</th>
            <th width="50">@Html.DisplayNameFor(model => model.Teams[0].MatchHistory.Against)</th>
            <th width="50">@Html.DisplayNameFor(model => model.Teams[0].MatchHistory.Difference)</th>
            <th width="50">@Html.DisplayNameFor(model => model.Teams[0].MatchHistory.Points)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var match in Model.Teams) {
            <tr>
                <td>?</td>
                <td>@Html.DisplayFor(modelItem => match.Name)</td>

                <td>@Html.DisplayFor(modelItem => match.MatchHistory.Played)</td>
                <td>@Html.DisplayFor(modelItem => match.MatchHistory.Won)</td>
                <td>@Html.DisplayFor(modelItem => match.MatchHistory.Drawn)</td>
                <td>@Html.DisplayFor(modelItem => match.MatchHistory.Lost)</td>
                <td>@Html.DisplayFor(modelItem => match.MatchHistory.For)</td>
                <td>@Html.DisplayFor(modelItem => match.MatchHistory.Against)</td>
                <td>@Html.DisplayFor(modelItem => match.MatchHistory.Difference)</td>
                <td>@Html.DisplayFor(modelItem => match.MatchHistory.Points)</td>
            </tr>
        }
    </tbody>
</table>