@using FootballLeagueTable.Helpers
@using FootballLeagueTable.Models.LeagueTable
@model FootballLeagueTable.Models.LeagueTable.League
@{
    ViewBag.Title = @Model.Name + " League Table";
}
@{ MatchHistory matchHistory = null; }

<h2>@Model.Name League Table</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th width="100">@Html.DisplayNameFor(model => matchHistory.Position)</th>
            <th>Team</th>
            <th width="50">
                <abbr title="@Html.DescriptionFor(model => matchHistory.Played)">
                    @Html.DisplayNameFor(model => matchHistory.Played)
                </abbr>
            </th>
            <th width="50">
                <abbr title="@Html.DescriptionFor(model => matchHistory.Won)">
                    @Html.DisplayNameFor(model => matchHistory.Won)
                </abbr>
            </th>
            <th width="50">
                <abbr title="@Html.DescriptionFor(model => matchHistory.Drawn)">
                    @Html.DisplayNameFor(model => matchHistory.Drawn)
                </abbr>
            </th>
            <th width="50">
                <abbr title="@Html.DescriptionFor(model => matchHistory.Lost)">
                    @Html.DisplayNameFor(model => matchHistory.Lost)
                </abbr>
            </th>
            <th width="50">
                <abbr title="@Html.DescriptionFor(model => matchHistory.For)">
                    @Html.DisplayNameFor(model => matchHistory.For)
                </abbr>
            </th>
            <th width="50">
                <abbr title="@Html.DescriptionFor(model => matchHistory.Against)">
                    @Html.DisplayNameFor(model => matchHistory.Against)
                </abbr>
            </th>
            <th width="50">
                <abbr title="@Html.DescriptionFor(model => matchHistory.GoalDifference)">
                    @Html.DisplayNameFor(model => matchHistory.GoalDifference)
                </abbr>
            </th>
            <th width="50">
                <abbr title="@Html.DescriptionFor(model => matchHistory.Points)">
                    @Html.DisplayNameFor(model => matchHistory.Points)
                </abbr>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var team in Model.Teams) {
            <tr>
                <td>@Html.DisplayFor(modelItem => team.MatchHistory.Position)</td>
                <td>@Html.DisplayFor(modelItem => team.Name)</td>

                <td>@Html.DisplayFor(modelItem => team.MatchHistory.Played)</td>
                <td>@Html.DisplayFor(modelItem => team.MatchHistory.Won)</td>
                <td>@Html.DisplayFor(modelItem => team.MatchHistory.Drawn)</td>
                <td>@Html.DisplayFor(modelItem => team.MatchHistory.Lost)</td>
                <td>@Html.DisplayFor(modelItem => team.MatchHistory.For)</td>
                <td>@Html.DisplayFor(modelItem => team.MatchHistory.Against)</td>
                <td>@Html.DisplayFor(modelItem => team.MatchHistory.GoalDifference)</td>
                <td>@Html.DisplayFor(modelItem => team.MatchHistory.Points)</td>
            </tr>
        }
    </tbody>
</table>