@model FootballLeagueTable.Models.LeagueTable.SelectTeamView
@{
    ViewBag.Title = "SelectTeam";
    
    //var validationStyles = new { @class = "text-danger" };
    var inputStyles = new { @class = "form-control" };
}

<h2>My Teams</h2>
<hr />

@using (Html.BeginForm("SelectTeam", "LeagueTable", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    //@Html.ValidationSummary(true, "", validationStyles)

    <h4>Select League</h4>
    @Html.LabelFor(model => model.SelectedLeague);
    @Html.DropDownListFor(model => model.SelectedLeague, Model.LeagueList, inputStyles)

    <br />

    <h4>Select a Team to Follow</h4>
    @Html.LabelFor(model => model.SelectedFollowingTeam);
    @Html.DropDownListFor(model => model.SelectedFollowingTeam, Model.FollowingTeamList, inputStyles)

    <br/>
    
    <h4>Select a Rival Team to Follow</h4>
    @Html.LabelFor(model => model.SelectedRivalTeam);
    @Html.DropDownListFor(model => model.SelectedRivalTeam, Model.RivalTeamList, inputStyles)

    <br/>
    <input type="submit" value="Save" class="btn btn-default" />
}