@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated) {
    <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text"><small>Signed in as</small> <strong>@Html.ActionLink(@User.Identity.GetUserName(), "SelectTeam", "LeagueTable", routeValues: null, htmlAttributes: new { @class = "navbar-link" })</strong></li>
        <li>@Html.ActionLink("Logout", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
    </ul>
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
