<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("TeamTracker", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("League Table", "Overview", "LeagueTable")</li>
                <li>@Html.ActionLink("Select Team", "SelectTeam", "LeagueTable")</li>
                <li>@Html.ActionLink("Compare Teams", "Compare", "LeagueTable")</li>
            </ul>
            @Html.Partial("_LoginNavPartial")
        </div>
    </div>
</nav>